// Colors
$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);
$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

// Fonts
$Font-Spartan: 'Spartan', sans-serif;

// Sizes
$small: "480px";
$medium: "768px";
$desktop: "1200px";
$separation: 5rem;