@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'globals';

.info {
    padding: $separation;

    &__text {
        margin-bottom: $separation / 1;

        h1{
            text-align: center;
            color: $Very-Dark-Magenta;
            margin-bottom: $separation / 1;
            font-size: 5rem;
        }
        
        p {
            color: $Dark-Grayish-Magenta;
            font-size: 2rem;
        }
    }

    &__cards {
        color: $Very-Dark-Magenta;
    }

    @include medium {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40vw;
            text-align: left;

            h1 {
                text-align: left;
            }
        }

        &__cards {
            display: flex;
            flex-direction: column;
            width: 40vw;
        }
    }
}


.info__cards__card {
    background-color: $Light-Grayish-Magenta;
    border-radius: 5px;
    padding: $separation / 3.5;
    margin-bottom: $separation / 5;
    text-align: center;
    font-weight: bold;

    &:last-of-type {
        margin-bottom: 0;
    }

    img {
        margin: 0 .5rem 1rem 0;

        &:last-of-type {
            margin-right: 0;
        }
    }
    

    @include medium {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;

        &:first-child {
            align-self: flex-start;
        }

        &:nth-child(2) {
            align-self: center;
        }

        &:last-child {
            align-self: flex-end;
        }
    }
}

.reviews {
    padding: $separation;

    &__card {
        background-color: $Very-Dark-Magenta;
        border-radius: 5px;
        margin-bottom: $separation / 5;
        padding: $separation / 3;
        color: $White;


        .user {
            display: flex;
            gap: $separation / 2;
            align-items: center;
            margin-bottom: $separation / 3;

            img {
                border-radius: 50%;
            }

            .username {
                font-weight: bold;
                text-transform: capitalize;
            }

            .status {
                color: $Dark-Grayish-Magenta;
                text-transform: capitalize;
            }

            .comment {
                font-size: 2rem;
            }
        }
    }

    @include medium {
        display: flex;
        gap: $separation / 3;

        &__card {
            width: 80%;
            margin-bottom: 0;

            &:first-child {
                align-self: flex-start;
            }
            &:nth-child(2) {
                align-self: center;
            }
            &:last-child {
                align-self: flex-end;
            }
        }
    }
}

.footer {
    text-align: center;
    padding: $separation;
    margin: 0;
}